.page-header{
    text-align: center;
    color:brown;
}

p{
    color: black;
}

body{
    background-color:cadetblue
}

#facts-section{
    color:brown
}

#table{
    color:black
}

h2{
    text-decoration: underline;
}

#quote-heading{
    color: brown;
}

#quotes-section{
    color:black;
    font-style: italic;
}